{% extends 'base.html' %}

{% block title %} About{% endblock title %}

{% block content %}
<div class="container" style="background-color: rgb(238, 238, 238);">
    <div style="padding-top: 2rem; margin-bottom: 3rem" class="text-center">
        <h1 style="font-size: 4rem; font-weight: bold">VIEWS NEWS</h1>
        <div style="height: 0.3rem; background-color: rgb(66, 9, 9)"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3 style="font-weight: bold; text-transform: uppercase;">About</h3>
                <p style="text-align:justify; font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem officiis quo cumque corporis ad nemo veniam voluptate, ipsa reiciendis vero numquam magnam!
                    Voluptate distinctio harum explicabo fugit qui vero facilis vitae iusto, deserunt sit sapiente, sed
                    ab eum ipsum accusantium molestias minus enim perferendis nostrum architecto odio! Voluptatibus
                    itaque inventore ex illo reiciendis, iusto ad nobis sit iste! Obcaecati quas laboriosam similique
                    culpa mollitia autem quam quibusdam, a at harum?</p>
                <h3 style="font-weight: bold; text-transform: uppercase;">Backstory</h3>

                <p style="text-align:justify; font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem officiis quo cumque corporis ad nemo veniam voluptate, ipsa reiciendis vero numquam magnam!
                    Voluptate distinctio harum explicabo fugit qui vero facilis vitae iusto, deserunt sit sapiente, sed
                    ab eum ipsum accusantium molestias minus enim perferendis nostrum architecto odio! Voluptatibus
                    itaque inventore ex illo reiciendis, iusto ad nobis sit iste! Obcaecati quas laboriosam similique
                    culpa mollitia autem quam quibusdam, a at harum?</p>
            </div>
            <div class="col-4">
                <img class="img-fluid"
                    src="https://juniapetur.files.wordpress.com/2011/10/111511-architecture-dsc04301-1950s-office-bldg-bartlesville-useme.jpg?w=584" />
                <p style="text-align:justify; font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem officiis quo cumque corporis ad nemo veniam voluptate, ipsa reiciendis vero numquam magnam!
                    Voluptate distinctio harum explicabo fugit qui vero facilis vitae iusto, deserunt sit sapiente, sed
                    ab eum ipsum accusantium molestias minus enim perferendis nostrum architecto odio! Voluptatibus
                    itaque inventore ex illo reiciendis, iusto ad nobis sit iste! Obcaecati quas laboriosam similique
                    culpa mollitia autem quam quibusdam, a at harum?</p>
            </div>
            <div class="col-4">
                <h3 style="font-weight: bold; text-transform: uppercase;">List</h3>
                <p style="text-align:justify; font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem officiis quo cumque corporis ad nemo veniam voluptate, ipsa reiciendis vero numquam magnam!
                    Voluptate distinctio harum explicabo fugit qui vero facilis vitae iusto, deserunt sit sapiente, sed
                    ab eum ipsum accusantium molestias minus enim perferendis nostrum architecto odio! Voluptatibus
                    itaque inventore ex illo reiciendis, iusto ad nobis sit iste! Obcaecati quas laboriosam similique
                    culpa mollitia autem quam quibusdam, a at harum?</p>
                <h3 style="font-weight: bold; text-transform: uppercase;">Accounts</h3>

                <p style="text-align:justify; font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem officiis quo cumque corporis ad nemo veniam voluptate, ipsa reiciendis vero numquam magnam!
                    Voluptate distinctio harum explicabo fugit qui vero facilis vitae iusto, deserunt sit sapiente, sed
                    ab eum ipsum accusantium molestias minus enim perferendis nostrum architecto odio! Voluptatibus
                    itaque inventore ex illo reiciendis, iusto ad nobis sit iste! Obcaecati quas laboriosam similique
                    culpa mollitia autem quam quibusdam, a at harum?</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}