{% extends 'base.html' %}

{% block title %} Edit Article {% endblock %}

{% block content %}
<div class="container" style="background-color: rgb(238, 238, 238); height: 100vh">
    <div style="padding-top: 2rem; margin-bottom: 3rem" class="text-center">
        <h1 style="font-size: 4rem; font-weight: bold">VIEWS NEWS</h1>
        <div style="height: 0.3rem; background-color: rgb(66, 9, 9)"></div>
    </div>
    <div class="container">
        <h1>Edit Article</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Edit">
        </form>
    </div>
</div>
{% endblock content %}